@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* SUCCESS TOAST */
#toast-container > .toast-success:before {
  content: none !important;
}

/* ERROR TOAST */
#toast-container > .toast-error:before {
  content: none !important;
}

/* INFO TOAST */
#toast-container > .toast-info:before {
  content: none !important;
}

/* WARNING TOAST */
#toast-container > .toast-warning:before {
  content: none !important;
}
